
<div style="display: flex">
  <div>
      <h1>Please Select</h1>
  <table>
    <tr *ngFor="let items of inventory, let i = index" >
      <td>
        <app-inventory [item]="items"></app-inventory>
        <button type="button" (click)="addToCart(i)">Add</button>
      </td>
    </tr>
  </table>
  </div>
  <div>
    <h1>My cart</h1>
  <table>
    <tr *ngFor="let items of cart, let i = index" >
      <td>
        <app-cart [cartItem]="items"></app-cart>
        <button type="button" (click)="removeFromCart(i)">Remove</button>
      </td>
    </tr>
  </table>
  </div>

</div>
